body {
    background-color: #bde0fe;
    text-align: center;
    font-family: sans-serif;

}

table {
  margin: 0 auto;
  border-collapse: collapse; 
  background-color: white;
}

.form {
  text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 40px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form input,
.form button {
  display: block;
  margin: 10px auto;
  padding: 8px;
}